.bookingDetails {
  display: block;
}

.bookingOptions {
  display: block;
  padding-left: 10px;
}

a.booking-box:hover {
  color: #3273dc;
}

a.booking-box {
  color: rgb(0, 0, 0);
}

span.bookingDetails {
  text-align: center;
}

.box.content.dashboard {
  margin-top: 50px;
  margin-bottom: 50px;
}
