 section {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
}


 /* article1.message {
  height: 530px;
}

 article1.div.message-body {
   	color: yellow;
}


article {
  height: 260px;
} */









